@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  height: 64px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
  padding: 18px 35px;
  margin-top: 5px;
  text-transform: capitalize;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px 20px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner */
.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;
}

.banner-title {
 font-weight: 700;
 font-size: 85px;
}

.banner-sub-title {
 font-weight: 600;
 font-size: 45px;
}

.banner-desc {
    color: #757575;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
.about {
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-desc {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.about .info-desc {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}